@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

html {
  color-scheme: light;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root.dark {
  --background: #111111;
  --foreground: #ededed;
}

/* we will ignore this for dark/light theme for now */
/*@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  background: var(--background);
  color: var(--foreground);
  transition: background 0.3s ease, color 0.3s ease;
}
